<div class="education-container">
    <div class="education-card">
      <img src="assets/education/tamuk.png" alt="NJIT Logo" class="edu-logo" />
      <div class="edu-content">
        <h3>Texas A&M University, Kingsville</h3>
        <p>🎓 Masters in Computer Science</p>
        <p>📅 Jan 2023 - May 2024</p>
        <p>⭐ GPA: 3.6/4.0</p>
      </div>
    </div>
  
    <div class="education-card">
      <img src="assets/education/sitams.png" alt="Anna University Logo" class="edu-logo" />
      <div class="edu-content">
        <h3>Sreenivasa Institute of Technology and Management Studies </h3>
        <p>🎓 B.Tech in  Computer Science and Engineering</p>
        <p>📅 Jun 2016 - Sep 2020</p>
        <p>⭐ GPA: 8.21/10</p>
      </div>
    </div>
  </div>
  