<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>

<body>

  <nav class="navbar navbar-inverse">
    <header class="header">
      <a href="" class="logo">KC</a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="#">PORTFOLIO</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">RESUME</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="https://github.com/KiranmaiReddy14" target="_blank">GITHUB</a></li>
        <li><a href="https://www.linkedin.com/in/kiranmai-chigarakula-b0070618a/" target="_blank">LINKEDIN</a></li>
      </ul>
    </header>
  </nav>
  <div class="jumbotron" style="display:flex; height:91vh; margin: auto; width: 100%; align-items:center;">
    <div class="container">
      <p class="intro">Hello! My name is</p>
      <p class="iname">Kiranmai Chigarakula.</p>
      <p class="intro">I'm a Software Engineer.</p><br><br>
      <button class="button button1">View portfolio</button>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center">
    <h3>Some of my Work</h3><br>
    <div class="row">
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>

  <div class="container-fluid bg-3 text-center">
    <h3>Resume</h3><br>
    <button class="button resume">View Resume &nbsp; 
      <i class="fas fa-search"></i>
    </button>&nbsp;&nbsp;
    <button class="button resume">Download Resume &nbsp;
      <i class="fa fa-download"></i>
    </button>
  </div><br><br>

  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>

</body>

</html>