footer {
  padding: 25px;
}

.navbar .icon-bar {
  background-color: black;
  border-color: white;
}

.navbar-toggle {
  border: 0px;
}

.button {
  padding: 10px;
  border: 2px solid #333333;
  border-radius: 50px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
}

.button1 {
  border-radius: 29px;
}

.jumbotron {
  background-color: white;
  animation: 2s ease-out 0s 1 slideInFromLeft;
  position: relative;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.intro {
  font-size: 46px;
}

.iname {
  color: #53ed6a;
  font-size: 57px;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: white;
}

a {
  color: #000;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 2000;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: fit-content;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

.resume {
  font-size: 1em;
  margin: 5px;
}


.name {
  position: relative;

  #name {
    background-color: none;
    color: #333333;
    font-size: 1.5rem;
    padding: 10px 10px 10px 5px;
    width: 65%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333333;
    outline: none;
  }

}

.mail {
  position: relative;

  #mail {
    background-color: none;
    color: #333333;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 65%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333333;
    outline: none;
  }
}

textarea {
  resize: none;
}

.message {
  position: relative;

  #message {
    background-color: none;
    color: #333333;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 65%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #333333;
    outline: none;
  }
}

.ilabel,
.elabel,
.mlabel {
  font-size: 1.3rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 18%;
  top: -15px;
  transition: 300ms ease all;
}

#footer-icons img {
  width: 30px;
  height: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  width: 320px;
}

#footer-icons a {
  transition: transform 0.2s ease-in-out;
}

#footer-icons a:hover {
  transform: scale(1.4);
}

#technologies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#technologies {
  padding-bottom: 70px;
}

#skills {
  flex-direction: row;
  width: 1000px;
}

@media only screen and (max-width: 1000px) {
  html {
    scroll-behavior: smooth;
  }

  #skills {
    flex-direction: row;
    width: 320px;
  }
}

#skills {
  flex-direction: row;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.techDiv {
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px !important;
  border: 1px solid #333333;
  margin: 6px;
}

.techTitle {
  width: 100%;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  background-color: #333333;
  color: white;
  padding: 5px;
}

.tech {
  width: 65px;
  max-height: 64px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.tech img {
  width: 64px;
  max-height: 70px;
}

.toolTip {
  position: relative;
}

.toolTip .toolTipText {
  visibility: hidden;
  width: 120px;
  color: #333333;
  text-align: center;
  font-weight: 900;
  padding: 5px 0;
  position: absolute;
  top: 105%;
  left: 50%;
  margin-left: -60px;
  font: 25px;
  z-index: 0;
}

.toolTip .toolTipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  z-index: 1071;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}