<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
  <title>Kiranmai</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
  <nav class="navbar navbar-inverse">
    <header>
      <a href="#" id="logo">KC</a>
      <nav>
        <ul class="nav-items">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#projects">PORTFOLIO</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a (click)="openGitHub()">GITHUB</a></li>
        </ul>
      </nav>

      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </header>
  </nav>

  <div class="jumbotron" style="display:flex; height:91vh; margin-top: 10px; width: 100%; align-items:center;
  background: url('assets/bg2.webp') no-repeat center center; background-size: 24%;
  background-position: 90% 85%;" id="intro">
    <div class="container">
      <p class="intro">Hello! My name is</p>
      <p class="iname">Kiranmai.</p>
      <p class="intro">I'm a Software Engineer.</p><br><br>
      <a class="button button1" href="#about" style="text-decoration: none;">About Me &nbsp;
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center" id="about">
    <h1 style="margin-left: 4%; margin-top: 5%;"><b>About</b></h1>
    <div class="about">
      <img src="assets/kiranmai.png">
      <p>I am a passionate Software Engineer with a strong foundation in designing and building scalable,
        high-performance applications. With experience in full-stack development, I specialize in crafting robust
        back-end architectures while seamlessly integrating dynamic front-end interfaces. My expertise spans across
        microservices, cloud-native solutions, and event-driven architectures, ensuring efficient, scalable, and
        resilient systems. <br>

        I thrive in developing RESTful APIs and microservices, leveraging modern frameworks and technologies to create
        highly optimized and responsive applications. I have hands-on experience working with real-time data streaming
        and asynchronous communication using Apache Kafka, enhancing system performance and reliability. My ability to
        optimize databases, refactor inefficient queries, and improve response times has significantly boosted system
        performance and user experience. <br>

        On the front end, I enjoy building interactive and engaging user interfaces using modern JavaScript frameworks
        like React and Angular. My commitment to writing clean, maintainable code is backed by my proficiency in testing
        frameworks, ensuring high code quality through robust unit, integration, and behavior-driven testing practices.
        <br>

        Beyond coding, I find joy in music, cooking, and reading. Exploring different genres, experimenting with new
        recipes, and getting lost in a good book keep me inspired and creative. Whether it's a captivating novel or a
        deep dive into technology, I love continuous learning in all aspects of life. <br>

        I am constantly exploring innovative solutions to enhance application performance, streamline workflows, and
        improve overall system scalability. Whether it's optimizing backend efficiency, refining frontend
        responsiveness, or architecting cloud-based solutions, I am dedicated to delivering high-quality software that
        drives impact. <br><br>
        <br>Let's build something amazing together!
      </p>
    </div>
  </div> <br><br><br>

  
  <div class="container-fluid bg-3 text-center" id="education">
    <div class="title" data-aos="fade-up">
      <h1><b>Education</b></h1><br>
    </div>
    <div class="info" style="width: 100%;">
      <app-education></app-education>
    </div>
  </div><br><br>

  <div class="container-fluid bg-3 text-center" id="projects">
    <div class="projects">
      <h1><b>Portfolio</b></h1>
      <div class="title">Tweet Connect</div>
      <img src="assets/projects/tweetapp1.png">
      <p>A robust tweet application designed to provide users with a seamless social media management experience,
        inspired by Twitter. Key features include user account management, secure login, tweet posting, and deletion.
      </p>
      <p><b>Skills: </b>Angular, Java, Spring Boot, MongoDB, Spring Security, Lombok</p>
      <br><br>
      <a class="button" href="https://github.com/KiranmaiReddy14/My-Workspace/tree/main/TweetApp" target="_blank"
        style="text-decoration: none;">View Code &nbsp;
        <i class="fas fa-search"></i>
      </a><br><br><br>
      <div class="title">MediRefill Portal</div><br>
      <img src="assets/projects/webportal1.png">
      <p>The MediRefill application offers a user-friendly interface for seamless prescription management and
        refills. Users can browse medications and receive timely refill reminders, ensuring medication
        adherence. Key functionalities include prescription tracking, timely refill reminders, and a comprehensive
        medication database for informed decisions. </p>
      <p><b>Skills: </b>Java, Spring, Spring Boot, Spring Security, JSP, Lombok, MySQL</p>
      <br><br>
      <a class="button" href="https://github.com/KiranmaiReddy14/My-Workspace/tree/main/webportal" target="_blank"
        style="text-decoration: none; margin-top: 3%;">View Code &nbsp;
        <i class="fas fa-search"></i>
      </a><br>
    </div>
  </div><br><br><br>

  <div id="technologies">
    <div id="techTitle" style="padding-bottom: 30px;">
      <h2><b>Technologies I've Worked With</b></h2>
    </div>
    <div id="skills">
      <div class="techDiv" id="frontend">
        <div class="techTitle">
          Frontend
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/angular.png" style="height:57px; width: 69px;">
          <span class="toolTipText">Angular</span>
        </div>

        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/html.png" style="width: 62px; height: 50px;">
          <span class="toolTipText">HTML</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/css.png" style="width: 47px; height: 40px;">
          <span class="toolTipText">CSS</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/bootstrap.png" style="width: 92px; height: 58px; margin-left: -20px;">
          <span class="toolTipText">Bootstrap</span>
        </div><br>
        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/typescript.png" style="height: 38px; width: 41px;">
          <span class="toolTipText">Typescript</span>
        </div>
      </div> <br>

      <div class="techDiv" id="frontend">
        <div class="techTitle">
          Backend
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/spring.png" style="height:42px; width: 44px;">
          <span class="toolTipText">Spring</span>
        </div>

        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/springboot.png" style="width: 64px; height: 65px; margin-left: -25%;">
          <span class="toolTipText">Spring Boot</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/hibernate.png" style="width: 49px; height: 38px; margin-left: -11%;">
          <span class="toolTipText">Hibernate</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/junit.png" style="width: 44px; height: 40px; margin-left: -2px;">
          <span class="toolTipText">JUnit</span>
        </div><br>
        <div class="tech toolTip" style="opacity: 0.8 !important; width: 53px;">
          <img src="assets/technologies/mockito.png" style="height: 61px; width: 73px; margin-left: -9px;">
          <span class="toolTipText">Mockito</span>
        </div>
      </div>
      <div class="techDiv" id="frontend">
        <div class="techTitle">
          Databases
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/sql.png" style="height:92px; width: 62px;">
          <span class="toolTipText">SQL Server</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/h2.png" style="height:35px; width: 39px;">
          <span class="toolTipText">H2</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/mysql.png" style="height:38px; width: 48px;">
          <span class="toolTipText">MySQL</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/mongodb.png" style="height:63px; width: 65px;">
          <span class="toolTipText">Mongo DB</span>
        </div>
      </div>

      <div class="techDiv" id="frontend">
        <div class="techTitle">
          Languages
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/javascript.png" style="height:42px; width: 43px;">
          <span class="toolTipText">Javascript</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/java.png" style="height:47px; width: 40px; margin-bottom: 10px;">
          <span class="toolTipText">Java</span>
        </div>
      </div>

      <div class="techDiv" id="frontend">
        <div class="techTitle">
          Devops
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/git.png" style="height:37px; width: 40px;">
          <span class="toolTipText">Git</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/github.png" style="height:43px; width: 43px; margin-bottom: 3px;">
          <span class="toolTipText">GitHub</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/sonarqube.png" style="height: 55px; width: 77px;">
          <span class="toolTipText">SonarQube</span>
        </div>
      </div>

      <div class="techDiv" id="frontend">
        <div class="techTitle">
          Tools
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/eclipse.png" style="height:40px; width: 44px;">
          <span class="toolTipText">Eclipse</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/vscode.png" style="height:39px; width: 39px;">
          <span class="toolTipText">VS Code</span>
        </div>
        <div class="tech toolTip" style="opacity: 0.8 !important;">
          <img src="assets/technologies/postman.png" style="height: 42px; width: 49px; margin: 6px;">
          <span class="toolTipText">Postman</span>
        </div>
      </div>

    </div>
  </div>


  <div class="container-fluid bg-3 text-center body1" id="contact">
    <h1><b>Contact</b></h1><br><br>
    <form id="contactForm" action="https://api.web3forms.com/submit" method="POST">
      <input type="hidden" name="access_key" value="bae82bed-6729-42fd-9654-567699c2a59d">
      <div class="contact" style="width: 100%">
        <div class="name" style="margin: auto; width: 50%">
          <input type="text" name="name" id="name" required>
          <label for="name" class="ilabel">Name</label>
          <div class="validation-message" id="name-error"></div>
        </div><br><br>
        <div class="mail" style="margin: auto; width: 50%">
          <input type="email" name="mail" id="mail" required>
          <label for="mail" class="elabel">Email</label>
          <div class="validation-message" id="mail-error"></div>
        </div><br><br>
        <div class="message" style="margin: auto; width: 50%">
          <textarea name="message" id="message" rows="4" required></textarea>
          <label for="message" class="mlabel">Message</label>
          <div class="validation-message" id="message-error"></div>
        </div><br><br>
        <button class="button mButton" type="submit">Send Message &nbsp;
          <i class="fas fa-paper-plane"></i>
        </button><br>
      </div>
    </form>
  </div>

</body>

<footer>
  <div id="footer-icons">
    <a href="mailto:kiranmaic14@gmail.com" onmouseover="this.href=this.href.replace(/[zyx]/g,'');" target="_blank">
      <img src="assets/email.png">
    </a>
    <a href="https://www.linkedin.com/in/kiranmai-reddy-b0070618a/" target="_blank">
      <img src="assets/linkedin.png">
    </a>
    <a href="https://github.com/KiranmaiReddy14" target="_blank">
      <img src="assets/github.png">
    </a>
  </div>
  <div id="copyright">&#169; <span id="year"></span> Kiranmai. All rights reserved.</div>
</footer>

</html>