.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: white;
    border: 0px;
}

.navbar ul {
    float: right;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.navbar .icon-bar {
    background-color: black;
    border-color: white;
}

.navbar-toggle {
    border: 0px;
}

.button {
    padding: 10px;
    border: 2px solid #333333;
    border-radius: 50px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.button1 {
    border-radius: 29px;
    /*display: block;
    margin: auto;*/
}

.jumbotron {
    background-color: white;
}

.intro {
    font-size: 46px;
}

.iname {
    color: #53ed6a;
    font-size: 57px;
}